@font-face {
	font-family: "Arial Narrow";
	src: url('https://static1.flg10.bet/FLG.Space/release/fonts/ArialNarrow/ArialNarrow.ttf') format('truetype'),
	url("https://static1.flg10.bet/FLG.Space/release/fonts/ArialNarrow/ArialNarrow.ttf") format("woff");
}

@font-face {
	font-family: "Calibri";
	src: url("https://static1.flg10.bet/FLG.Space/release/fonts/Calibri/Calibri.ttf") format("truetype");
}

@font-face {
	font-family: "Myriad Pro Cond";
	src: url('https://static1.flg10.bet/FLG.Space/release/fonts/MyriadProBoldCond/MyriadProBoldCond.woff') format('woff'),
}
